.one-day-header {
  margin-top: 30px;
}

form {
  display: flex;

  .cointainer {
    margin-right: 50px;
  }

  button {
    height: 40px;
    margin-top: 6px;
  }

  .countries-form-field {
    width: 400px;
  }
}
