<div class="date-range-header">
  <form [formGroup]="form">
    <div class="container">
      <mat-form-field appearance="outline">
        <mat-label>Enter a date range</mat-label>
        <mat-date-range-input
          [min]="defaultStartDate"
          [max]="defaultEndDate"
          [rangePicker]="picker"
        >
          <input
            formControlName="startDate"
            matStartDate
            placeholder="Start date"
          />
          <input formControlName="endDate" matEndDate placeholder="End date" />
        </mat-date-range-input>
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-date-range-picker #picker></mat-date-range-picker>
      </mat-form-field>
    </div>
    <div class="container">
      <mat-form-field appearance="outline">
        <mat-label>Choose a country</mat-label>
        <mat-select formControlName="country">
          <mat-option>
            <ngx-mat-select-search
              placeholderLabel="Search..."
              noEntriesFoundLabel="No matching country found"
              formControlName="filteredCountry"
            ></ngx-mat-select-search>
          </mat-option>
          <mat-option
            *ngFor="let country of filteredCountries | async"
            [value]="country"
          >
            {{ country }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="container">
      <mat-form-field appearance="outline" class="status-form-field">
        <mat-label>Choose a status</mat-label>
        <mat-select formControlName="statusList" multiple>
          <mat-option *ngFor="let status of statusList" [value]="status">
            {{ status }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </form>
</div>
