<div class="date-range-header">
  <form [formGroup]="form">
    <div class="cointainer">
      <mat-form-field appearance="fill">
        <mat-label>Enter a date range</mat-label>
        <mat-date-range-input
          [min]="defaultStartDate"
          [max]="defaultEndDate"
          [rangePicker]="picker"
        >
          <input
            formControlName="startDate"
            matStartDate
            placeholder="Start date"
          />
          <input formControlName="endDate" matEndDate placeholder="End date" />
        </mat-date-range-input>
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-date-range-picker #picker></mat-date-range-picker>
      </mat-form-field>
    </div>
  </form>
</div>
