<div class="header">
  <form [formGroup]="form" (ngSubmit)="onSubmitForm()">
    <div class="countries-cointainer">
      <mat-form-field appearance="fill">
        <mat-label>Choose a country</mat-label>
        <mat-select formControlName="country">
          <mat-option
            *ngFor="let country of countriesList"
            [value]="country.Slug"
          >
            {{ country.Country }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="date-countainer">
      <mat-form-field appearance="fill">
        <mat-label>Enter a date range</mat-label>
        <mat-date-range-input
          [min]="covidPandemicStartDate"
          [max]="todayDate"
          [rangePicker]="picker"
        >
          <input formControlName="startDate" matStartDate placeholder="Start date" />
          <input formControlName="endDate" matEndDate placeholder="End date" />
        </mat-date-range-input>
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-date-range-picker #picker></mat-date-range-picker>
      </mat-form-field>
    </div>
    <button type="submit" mat-raised-button color="primary">Show graph</button>
  </form>
</div>
