<h2>Data after selecting a date in specific countries</h2>
<one-day-header
  [countriesListObj]="countriesList"
  (onFormSubmitEmitter)="onSubmitFormListener($event)"
></one-day-header>
<div class="graphs-container">
  <div class="graphs-container__graph">
    <div class="graphs-container__title">
      Active cases of Covid-19 on {{ selectedDate | date: "MMMM d, y" }}
    </div>
    <app-bar-graph *ngIf="showGraph" [covidData]="covidData"></app-bar-graph>
  </div>
  <div class="graphs-container__graph">
    <div class="graphs-container__title">
      Cases of Covid-19 on {{ selectedDate | date: "MMMM d, y" }}
    </div>
    <app-bar-details-graph
      *ngIf="showGraph"
      [covidDetailsData]="covidDetailsData"
    ></app-bar-details-graph>
  </div>
</div>
